<p>student-list works!</p>
<app-student-form 
    (emisorEstudiante)="recibirEstudiante($event)"></app-student-form>

    <div>Detalle estudiante: 
        <span *ngIf="index >= 0">
            {{ srvEstu.getListaEstudiantes()[index].email }}</span>
        <span *ngIf="index < 0">
            Parametro no recibido</span>
    </div>

<ul>
    <li *ngFor="let estu of srvEstu.getListaEstudiantes()">
        {{ estu.email + ", " + estu.edad }}
    </li>
</ul>

<!-- <div>
    <h1>Formulario para insertar usuarios:</h1>
    <app-student-form (emisorEv)="recibeUser($event)"></app-student-form>
    <h1>Lista de Usuarios:</h1>
    <table *ngIf="usuarios.length>0">
        <thead>
            <td>Nombre</td>
            <td>Email</td>
        </thead>
        <tbody>
            <tr *ngFor="let user of usuarios">
                <td>{{user.nombre}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

