<h1>{{ title }} </h1>
<h2>{{ subtitle }} </h2>
<p>dfdfd</p>
<!--
<app-intro *ngIf=" ! eliminar"></app-intro>
<input type="button" value="Eliminar" 
    (click)="eliminar = !eliminar">

<p>Componente 2:</p>
<app-intro [hidden]= "!mostrar"></app-intro>
<input type="button" value="Ocultar" 
    (click)="mostrar = !mostrar">

<app-templates></app-templates>
<div [ngClass]="'bordeado'">Texto bordeado con ngClass</div>
-->

<app-directivas-nativas></app-directivas-nativas>