<p>student-form works!</p>
<form novalidate [formGroup]="estudianteFG" (ngSubmit) = "alRegistrar()" >
  <label>
    <span>Email</span>
    <input type="email" placeholder="Your email" formControlName="email"
    [(ngModel)]="estudiante.email"><br>
    <span *ngIf="estudianteFG.get('email').invalid" style="color: red;">Introduzca email válido</span>
  </label> <br>
  <label>
      <span>Edad </span>
      <input type="number" placeholder="Your age" formControlName="edad"
      [(ngModel)]="estudiante.edad">
    </label><br>
  <button [disabled]="estudianteFG.invalid" type="submit">Sign up</button>
</form>