<!-- Crear un componente intro-header, que sustituya la cabecera H2 que tenemos aquí. Donde tenga un título ("Introducción") y que el componente pueda ser eliminado aquí -->
<!-- <h2>Introducción</h2> -->
<app-intro-header *ngIf="!eliminar"></app-intro-header>

<p>{{ texto }} </p>

<input type="button" value="Cambiar texto" (click)="cambiarTexto()"/>
<input type="button" value="Eliminar header" (click)="hacerEliminar()"/>

