<h2>Directivas nativas (de componente, llevan *)</h2>
<p *ngIf="activo">Está activo</p>
<p *ngIf="activo != false && 5 < 5">5 < 5</p>
<p *ngIf="activo != false && 5 == 5">5 == 5</p>
Password?
<input [(ngModel)]="userPasswd"/>
<p style="" *ngIf="checkPassword() && userPasswd != '' ">Password OK</p>
<p style="" *ngIf="!checkPassword() && userPasswd != '' ">Bad Password</p>
<!-- *ngFor  es cómo un bucle foreach -->
<ul>
    <li *ngFor="let heroe of getHeroes()">{{ heroe }}</li>
</ul>
<br/>
<div>
    <input [(ngModel)]="nombreFruta"/>
    <input [(ngModel)]="cantidadFruta" type="number"/>
    <input [(ngModel)]="madura" type="checkbox">
    <input (click)="addFruta(nombreFruta, cantidadFruta, madura)"
        type="button" value="Añadir"/>
    <ol>
        <li *ngFor="let fruta of listaFrutas">
            {{ "de " + fruta.nombre + " hay " + fruta.cantidad }}
            {{ fruta.madura ? ", está madura" : ", inmadura"}}
        </li>
    </ol>
</div>