<form novalidate [formGroup]="user" (ngSubmit)="onSubmit()">
    <label>
      <span>Full name</span>
      <input
        type="text"
        placeholder="Your full name"
        formControlName="name">
    </label>
    <br>
    <label>
        <span>Password</span>
        <input
          type="password"
          placeholder="Your passwornd"
          formControlName="password">
      </label>
      <br>
      <label>
        <span>Confirm password</span>
        <input
          type="password"
          placeholder="Confirm your password"
          formControlName="passwordRepeat">
      </label>
    <button type="submit" [disabled]="user.invalid">Sign up</button>
  </form>