<div>
  <h1>Father Component</h1>
	<!-- Input sobre el que escribimos y la función declarada en el .ts -->
  <input #fatherInput (keyup)="keyUp(fatherInput.value)"/>
  <div>
		<!-- pasamos al hijo el valor de la variable inputText -->
		<!-- El valor de la izquierda es el que recibe -->
        <app-son-component [inputTextSon]="inputText"
                           [inputTextLower]="inputText.toLowerCase()"
                           (emitMessage)="setMessage($event)">
        </app-son-component>
        <app-son-component [inputTextSon]="inputText.toUpperCase()">
            
        </app-son-component>

        <h1>Mensaje de mi hijo ⬇️</h1>
        <p>{{ sonMessage }}</p>

    </div>
</div>