<h1>Templates:</h1>
<p>Modificando atributos:</p>
<!-- Property binding: con [] ó con interpolación de variables {{}} -->
<img [hidden]="false" src={{fichImagen}} alt="Imagen en assets/"/>
<!-- Event binding con los paréntesis (evento) -->
<input type="button" (click)="cambiarImagen()" value="Cambiar imagen"/>
<!-- Con [()] hacemos double data binding, que es la vinculación bidireccional de una variable de la clase en el template -->
<br/>
<input type="text" [(ngModel)]="campoTexto"/>
<br/>
Valor de la variable: {{ campoTexto }} <br/>

<div [ngClass]="'bordeado'">Texto bordeado con ngClass</div>
<div [ngClass]="claseBorde">Texto bordeado con ngClass</div>
<div [ngClass]="clasesArray_1">Texto bordeado 1 con ngClass</div>
<div [ngClass]="clasesArray_2">Texto bordeado 2 con ngClass</div>
<div [ngClass]="{'borde-rojo': true, 'borde-grueso': false}">Este ToDo es importante y está pendiente</div>
<div [ngClass]="clasesEnOBJ">con variable clasesEnOBJ</div>
<div [ngClass]="obtenerClasesCSS(true, true)">con llamada a función</div>
<h1>Directivas:</h1>

