.bordeado {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}
.borde-rojo {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
.borde-grueso {
    border-style: solid;
    border-width: 5px;
}