
    <h1>{{ title }} app is running!</h1>

    <!-- <app-signup-form></app-signup-form>
    <app-student-list></app-student-list> -->
    <p>El sistema de routing de Angular lo mete todo en < router-outlet >:</p>
<p>
    <a [routerLink]="'formulario'">Formulario</a>  -
    <a [routerLink]="'estudiantes'">Estudiantes</a>

    <a [routerLink]="['/estudiantes', 1]">Ver usuario</a>
</p>
    <router-outlet></router-outlet>
    
    <br>
    <footer>Fin página</footer>