<h2>Goku:</h2>
<ul>
<li *ngFor="let tec of listadoTec">
    {{ tec.name }}
</li>
</ul>
<app-gohan [tecnicasGohan]="listadoTec" (emisorTec)="recibeTec($event)"></app-gohan>
<div>
    <h3>Tecnicas aprendidas por Gohan:</h3>
    <ul>
        <li *ngFor="let tec of tecnicasAprendiasGohan">
            {{ tec.name }}
        </li>
    </ul>
</div>